<section class="flex items-center">
  <h1 class="text-xl">Dashboard</h1>
  <div class="ml-32">
    <%= form_with url: "#" do |f| %>
      <fieldset class="fieldset">
        <label class="input">
        <svg xmlns="http://www.w3.org/2000/svg" class="opacity-50" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
        <%= f.text_field :search, placeholder: "Search products" %>
        </label>
      </fieldset>
    <% end %>
  </div>
</section>

<section class="mt-4 grid grid-cols-4">
  <div class="stats shadow col-span-3">
    <div class="stat">
      <div class="stat-title">Today sales</div>
      <div class="stat-value text-primary"><%= number_to_currency @sales_data[:sales_by_day], locale: :bn %></div>
      <div class="stat-desc"><%= @sales_data[:sales_day_change] %></div>
    </div>

    <div class="stat">
      <div class="stat-title">This month sales</div>
      <div class="stat-value text-secondary"><%= number_to_currency @sales_data[:sales_by_month], locale: :bn %></div>
      <div class="stat-desc"><%= @sales_data[:sales_month_change] %></div>
    </div>

    <div class="stat">
      <div class="stat-title">This year sales</div>
      <div class="stat-value text-secondary"><%= number_to_currency @sales_data[:sales_by_year], locale: :bn %></div>
      <div class="stat-desc"><%= @sales_data[:sales_year_change] %></div>
    </div>
  </div>

  <div class="stats shadow ml-2 bg-base-300">
    <div class="stat">
      <div class="stat-title">Customer</div>
      <div class="stat-value text-secondary"><%= @customer %></div>
      <div class="stat-desc">Total customer served today</div>
    </div>
  </div>
</section>

<section class="mt-4 grid grid-cols-4 gap-4">
  <div class="col-span-2 card bg-base-100 shadow-md">
    <div class="card-body">
      <h1 class="text-lg card-title">Sales Analytics</h1>
      <%= column_chart @total_week,
        colors: ["#000", "#000"], 
        prefix: "৳",
        library: {
          animation: {
            duration: 1000
          }
        }
      %>
    </div>
  </div>
  <div class="col-span-1 card bg-base-100 shadow-md">
    <div class="card-body">
      <h1 class="text-lg card-title">Top selling Brand/Company</h1>
      <%= pie_chart @top_selling_brands, 
          donut: true,
          suffix: "%",
          colors: [
            "oklch(78.66% 0.15 28.47)", 
            "oklch(88.37% 0.135 79.94)", 
            "oklch(90.13% 0.153 164.14)",
            "oklch(79.54% 0.103 205.9)",
            "oklch(0% 0 0)",
            ] 
      %>
    </div>
  </div>
  <div class="col-span-1">
    <h1 class="text-lg card-title">Top products</h1>
    <ul class="list bg-base-300 rounded-box shadow-md mt-4">
      <% @top_selling_products.each do %>
        <li class="list-row">
          <%= it.name %> (<%= it.brand.name %>)
        </li>
      <% end %>
    </ul>
  </div>
</section>

<section class="mt-4 grid grid-cols-4 gap-4">
  <div class="col-span-2 card bg-warning shadow-md">
    <div class="card-body">
        <h1 class="text-lg card-title mb-4">Low Stock Alerts </h1>
        <% @low_stock_products.each do %>
            <div class="flex justify-between items-center gap-2 border-t border-dashed border-t-base-content/5 py-2 uppercase">
              <%= it.name %> <span class="badge badge-soft badge-neutral"><%= it.inventories.sum(:quantity) %></span> <%= it.brand.name %>
            </div>
        <% end %>
    </div>
  </div>

  <div class="col-span-2 card shadow-md">
    <div class="card-body">
      <h1 class="text-lg card-title">Supplier Financial Summary</h1>
      <div>
        <div class="flex justify-between">
          <h2 class="text-lg">Total debt</h2>
          <span class="text-lg badge badge-error"><%= number_to_currency @total_debt, locale: :bn %></span>
        </div>
        <div class="mt-4">
          <% @supplier_debts.each do %>
            <div class="flex justify-between items-center gap-2 border-t border-dashed border-t-base-content/5 py-2 capitalize">
              <%= it.name %> <span class="badge badge-soft badge-neutral"><%= number_to_currency it.debt_amount, locale: :bn %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</section>