<section class="flex justify-center items-center h-screen">
  <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Login</legend>
    
    <%= form_with url: session_url do |form| %>
      <%= form.label :email_address, class: "fieldset-label" %>
      <%= form.email_field :email_address, placeholder: "Email address", class: "input" %>

      <%= form.label :password, class: "fieldset-label mt-4" %>
      <%= form.password_field :password, placeholder: "Password", class: "input" %>

      <%= form.submit "Login", class: "btn btn-neutral mt-4" %>
    <% end %>
  </fieldset>
</section>
