<div id="search_results">
  <% if products.present? %>
    <div class="space-y-2">
      <div class="mt-4">
          <h3 class="text-sm font-bold mb-2">
            <%= params[:query].present? ? "Search Results:" : "Top Sold:" %>
          </h3>
        </div>
      <% products.each do |product| %>
        <div class="flex justify-between items-center p-3 hover:bg-base-200 rounded-lg">
          <div>
            <h3 class="font-medium">Name: <%= product.name %> (<%= product.brand.name %>)</h3>
            <p class="text-primary">Price: <%= number_to_currency(product.price, locale: :bn) %></p>
            <p>Quantity: <span class="badge badge-info"><%= product.inventories.sum(:quantity) %></span></p>
          </div>
          <% if product.inventories.sum(:quantity) == 0 %>
            <div class="badge badge-error">Out Of Stock</div>
          <% else %>
            <%= button_to add_cart_path(product_id: product.id),
                method: :post,
                data: { turbo_frame: "add-cart"},
                class: "btn btn-primary btn-sm" do %>
                Add to Cart
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
      <span>No products found.</span>
    </div>
  <% end %>
</div>