<div class="grid grid-cols-3 gap-10 p-4">
  <section class="card bg-base-100 shadow-sm">
    <div class="card-body">
      <h3 class="card-title">Add product stock</h3>
      <%= render "form", inventory: @inventory %>
    </div>
  </section>
  <section class="col-span-2">
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Quantity (Units)</th>
            <th>Location</th>
            <th>Company</th>
          </tr>
        </thead>
          <tbody>
            <% if @inventories.present? %>
              <% @inventories.each do %>
                <tr>
                  <td class="capitalize"><%= link_to it.product.name, inventory_path(it), class: "link" %></td>
                  <td><%= it.quantity %></td>
                  <td><%= it.location %></td>
                  <td class="uppercase"><%= it.product.brand.name %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
      </table>
    </div>
  </section>
</div>