<div class="grid grid-cols-3 gap-10 p-4">
  <section class="">
    <h3 class="text-xl mb-2">Add product stock</h3>
    <%= render "form", inventory: @inventory %>
  </section>
  <section class="col-span-2">
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Quantity (Units)</th>
            <th>Location</th>
            <th>Company</th>
          </tr>
        </thead>
          <tbody>
            <% if @inventories.present? %>
              <% @inventories.each do %>
                <tr>
                  <td><%= link_to it.product.name, inventory_path(it.product.id), class: "link" %></td>
                  <td><%= it.quantity %></td>
                  <td><%= it.location %></td>
                  <td><%= it.product.brand.name %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
      </table>
    </div>
  </section>
</div>