<div class="grid grid-cols-2 gap-10 p-4">
  <section>
    <div class="card w-96 bg-base-100 card-xs shadow-sm">
      <div class="card-body">
        <h2 class="card-title"><%= @stocks.product.name %> (<%= @stocks.product.brand.name %>) </h2>
      </div>
    </div>
    <div class="overflow-x-auto mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>Transaction Type</th>
            <th>Quantity</th>
            <th>Date</th>
          </tr>
        </thead>
          <tbody>
            <% if @stocks.stock_transactions.present? %>
              <% @stocks.stock_transactions.each do %>
                <tr>
                  <td><%= it.transaction_type.capitalize %></td>
                  <td><%= it.quantity %></td>
                  <td><%= it.created_at.strftime("%d/%m/%Y") %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
      </table>
    </div>
  </section>
</div>