<section class="flex justify-center items-center h-screen">
  <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
    <legend class="fieldset-legend">Update your password</legend>
    
    <%= form_with url: password_path(params[:token]), method: :put do |form| %>
      <%= form.label :password, class: "fieldset-label" %>
      <%= form.password_field :password, placeholder: "Enter new password", class: "input" %>
      
      <%= form.label :password_confirmation, class: "fieldset-label" %>
      <%= form.password_field :password_confirmation, placeholder: "Repeat new password", class: "input" %>

      <%= form.submit "Save", class: "btn btn-neutral mt-4" %>
    <% end %>
  </fieldset>
</section>