<div class="grid grid-cols-3 gap-10 p-4">
  <section class="card bg-base-100 shadow-sm">
    <div class="card-body">
      <h3 class="card-title"><%= @product.persisted? ? "Update Product" : "Add new product" %></h3>
      <%= render "form", product: @product %>
    </div>
  </section>
  <section class="col-span-2">
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Brand</th>
          </tr>
        </thead>
          <tbody>
            <% if @products.present? %>
              <% @products.each do %>
                <tr>
                  <td class="capitalize"><%= it.name %></td>
                  <td><%= number_to_currency it.price, locale: :bn %></td>
                  <td class="uppercase"><%= it.brand.name %></td>
                  <td><%= link_to "Edit", edit_product_path(it), class: "btn" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
      </table>
    </div>
    <div class="flex items-center justify-center mt-4">
      <%= pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </section>
</div>