<div class="grid grid-cols-3 gap-10 p-4">
  <section class="card bg-base-100 shadow-sm">
    <div class="card-body">
      <h3 class="card-title"><%= @supplier.persisted? ? "Update Supplier" : "Add new supplier" %></h3>
      <%= render "form", supplier: @supplier %>
    </div>
  </section>
  <section class="col-span-2">
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Supplier Name</th>
            <th>Supplier Email</th>
            <th>Supplier Phone number</th>
            <th>Company</th>
          </tr>
        </thead>
          <tbody>
            <% if @suppliers.present? %>
              <% @suppliers.each do %>
                <tr>
                  <td class="capitalize"><%= link_to it.name, supplier_transaction_path(it), class: "link" %></td>
                  <td><%= it.email %></td>
                  <td>0<%= it.phone %></td>
                  <td class="uppercase"><%= it.brand.name %></td>
                  <td><%= link_to "Edit", edit_supplier_path(it), class: "btn" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
      </table>
    </div>
    <div class="flex items-center justify-center mt-4">
      <%= pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </section>
</div>