<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      Menu
    </label>
    <main class="p-4">
      <%= yield %>
    </main>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-44 p-4">
      <a class="text-xl mb-4">Asenna</a>
      <li>
        <%= link_to dashboard_path, class: [ active_link(dashboard_path) ] do %>
          <%= image_tag "layout-dashboard.svg", class: "menu-icon" %> <span>Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to cart_path, class: [ active_link(cart_path) ] do %>
          <%= image_tag "shopping-bag.svg", class: "menu-icon" %><span>Sell</span>
        <% end %>
      </li>
      <li>
        <%= link_to brands_path, class: [ active_link(brands_path) ] do %>
          <%= image_tag "building-2.svg", class: "menu-icon" %><span>Brand</span>
        <% end %>
      </li>
      <li>
        <%= link_to products_path, class: [ active_link(products_path) ] do %>
          <%= image_tag "notebook-tabs.svg", class: "menu-icon"%><span>Catalog</span>
        <% end %>
      </li>
      <li>
        <%= link_to suppliers_path, class: [ active_link(suppliers_path) ] do %>
          <%= image_tag "truck.svg", class: "menu-icon" %><span>Supplier</span>
        <% end %>
      </li>
      <li>
        <%= link_to inventories_path, class: [ active_link(inventories_path) ] do %>
          <%= image_tag "box.svg", class: "menu-icon" %><span>Inventory</span>
        <% end %>
      </li>
      <li>
        <%= link_to supplier_transactions_path, class: [ active_link(supplier_transactions_path) ] do %>
          <%= image_tag "wallet.svg", class: "menu-icon" %><span>Bookkeeping</span>
        <% end %>
      </li>
      <li class="mt-auto w-6 mb-2 ml-10">
        <div class="tooltip" data-tip="logout">
          <div class="tooltip-content">
            <div>logout</div>
          </div>
          <%= button_to session_path, method: :delete do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
          <% end %>
        </div>
        
      </li>
    </ul>
  </div>
</div>